html {
	background-color: #f1f1f1;
	font-family: 'Lato', sans-serif;
}

body {
	color: #42475d;
	font-size: 20px;
	margin: 0px;
}


ul {
	padding: 0;
	list-style-type: none;
}

a { 
	color: #0077b5; 

	cursor: pointer;
	opacity: 0.75;
	transition: all 0.5s ease-out;
}

button {
	background-color: #0077b5;
	border: none;
	border-radius: 4px;
	color: #ffffff;
	font-size: 20px;
	outline: none;
	margin-top: 10px;
	padding: 8px 20px;
	vertical-align: middle;

	cursor: pointer;
	opacity: 0.75;
	transition: all 0.5s ease-out;
}

a:hover, button:hover {
	cursor: normal;
	opacity: 1;
	transition: all 0.3s ease-in;
}

input {
	background-color: #e5e5e5;
	border: none;
	border-radius: 4px;
	box-shadow: none;
	color: #a2a2a2;
	font-size: 16px;
	outline: none;
	margin-bottom: 10px;
	padding: 8px;
}

input.text-input {
	width: 300px;
}

input:focus {
	box-shadow: none;
	outline: none;
}

label {
	display: block;
	font-weight: bold;
	margin-bottom: 5px;
}

.page {
	width: 1300px;
	margin: 20px auto;
}

.row {
	/*border: 2px red solid;*/
	display: block;
	margin-bottom: 20px;
}

.header, .sidebar, .content {
	background-color: white;
	border-radius: 6px;

	opacity: 0.8;
	transition: all 0.5s ease-out;
}

.header:hover, .sidebar:hover, .content:hover {
	opacity: 1;
	transition: all 0.75s ease-in;
}

.header {
	/*border: 2px yellow solid;*/
	width: 1000px;
	padding: 20px;
	font-size: 40px;
	font-weight: bold;
}

.sidebar {
	/*border: 2px green solid;*/
	display: inline-block;
	height: 800px;
	width: 300px;
	padding-left: 30px;
	padding-right: 20px;
	margin-right: 20px;
	vertical-align: top;
}

.navtitle {
	font-weight: bold;
}

.content {
	border: 2px black solid;
	display: inline-block;
	height: 780px;
	width: 620px;
	padding: 20px 20px 0 30px;
	vertical-align: top;
}